.all{ 
   position: absolute;
    top:50px;
    margin-left:750px;
    
    
    
}

button{
    margin-left:100px;
    width:200px;
    margin-top:50px;
    
}
.from{
    margin-left:900px;
    padding:30px;
    border:1px solid gray;
    width:500px;
    margin-top:300px;
    background-color:burlywood;
    top:-100px;
    position: absolute;
    height: 300px;
    border-radius:20px;
}
 .img{
    filter:brightness(100%);
    
} 
.form-control{
    width:400px;
}
