<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" data-bs-target="dropdown">AllJewellery</button>
                <ul class="dropdown-menu">
                    <li><a href="" class="dropdown-item">Category</a></li>
                    <li><a href="" class="dropdown-item">Price</a></li>
                    <li><a href="" class="dropdown-item">Occasion</a></li>
                    <li><a href="" class="dropdown-item">Gender</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
















<!-- 
<a href="" routerLink="/admin/all/category" class="btn btn-primary"> Category</a>
<a href="" routerLink="/admin/all/price" class="btn btn-danger"> Price</a>
<a href="" routerLink="/admin/all/occasion" class="btn btn-success"> Occasion</a>
<a href="" routerLink="/admin/all/gender" class="btn btn-secondary"> Gender</a>


<router-outlet></router-outlet> -->